<%- include('header') %>
    <form action="/chat" method="POST">
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" class="form-control mb-2" placeholder="Give your cikname..." id="">
        <label for="room">Roomname:</label>
        <select name="room" id="" class="form-control mb-2">
            <option value="Main Room">Main Room</option>
            <option value="Frontend programing">Frontend programing</option>
            <option value="Backend programing">Backend programing</option>
            <option value="Desktop programing">Desktop programing</option>
            <option value="Mobile programing">Mobile programing</option>
            <option value="Web programing">Web programing</option>
        </select>
        <button class="btn btn-primary">Join to Room</button>
    </form>
            
<%- include('footer') %>        